.jumbotron {
padding-top: 5rem;
background-color: #090A1A;

}
#img{
    width: 70%;
}


#home::-webkit-scrollbar {
    display: none;  /* Safari and Chrome browsers */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;  /* mozilla */
}

.navbar{
    background-color: #111430;

}
#aboutme{
    background-color: #090A1A;
    padding-bottom: 80px;
}

#myskills {
    background-color: #090A1A;
    padding-bottom: 80px;
}
.card-body {
    background-color: #090A1A;
}
#projects {
    background-color: #090A1A;
}

.i{
    width: 360px;
    height: 240px;
}

section {
    padding-top: 5rem;
    
}


#img-box{
    position: relative;
    transform-style: preserve-3d;
}

#img-box::before{
    content: url(img/3dflutter.png);
    position: absolute;
    left: 10%;
    transform: translate3d(0,0,80px);
}
#img-box::after{
    content: url(img/3dandroid.png);
    position: absolute;
    top: 210px;
    right: 10%;
    transform: translate3d(0,0,80px);
}