.jumbotron {
padding-top: 5rem;
background-color: #090A1A;

}
#img{
    width: 70%;
}

#home::-webkit-scrollbar {
    display: none;  /* Safari and Chrome browsers */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;  /* mozilla */
}

.navbar{
    background-color: #111430;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #171B3C;
    color: #4A5AC0;   
  }
.navbar .active {
    background-color: #171B3C !important;
    color: #4A5AC0 !important;   
  }





#aboutme{
    background-color: #090A1A;
    padding-bottom: 80px;
}

#myskills {
    background-color: #090A1A;
    padding-bottom: 80px;
}
.card-body {
    background-color: #090A1A;
}
#projects {
    background-color: #090A1A;
}

.i{
    width: 360px;
    height: 240px;
}

section {
    padding-top: 5rem;
    
}

@media only screen and (max-width: 760px) {
    .aa {margin-top: -30px;}
  } 
@media only screen and (max-width: 760px) {
    .profil {margin-top: 10px;}
  } 
@media only screen and (max-width: 760px) {
    .navbar .active {
        background-color: #171B3C !important;
        color: #4A5AC0 !important;
        width: 455px;
      }
    
  } 

@media only screen and (min-width: 761px) {
    .aa {margin-top: 50px;}
  } 
@media only screen and (min-width: 761px) {
    .profil {margin-top: 30px;}
  } 